
<mat-dialog-content>   


    <div>
        <p>
            {{this.confirmationText}}
        </p>
    </div>

      <div style="text-align:center">

<div class="row">

        <div class="col-sm"><button mat-raised-button color="primary" (click)="buttonConfirmationClick()">{{this.confirmationButtonText}}</button>
        </div>
        <div class="col-sm">
        <button mat-raised-button color="primary" (click)="buttonCancelClick()">{{this.cancelButtonText}}</button>
      </div>
</div>

      </div>



</mat-dialog-content>
