.card {
    min-width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  a {
    cursor: pointer;
  }

  .paginacion-container {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
    .mat-paginator {
      background: #f1f2f2;
    }

.mat-column-image{
  max-width: 10%;
}

.mat-column-action{
  max-width: 10%;
}
  
  