<div>
    <br>
      <div class="container">

      <br>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Lista de hoteles</h3>
            </mat-card-title>
            <mat-card-content>
                <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource">
                      <ng-container matColumnDef="image">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div *ngIf="(element.shortImageData == undefined)" mat-card-avatar class="example-header-image" style="background-image: url('{{ this.imageHotelNotAvaible }}');"></div>
                          <div *ngIf="(element.shortImageData != undefined)" mat-card-avatar class="example-header-image" style="background-image: url('{{ element.shortImageData.trim() }}');"></div> 
                        </mat-cell>
                      </ng-container>
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a class="table-actions-icon" title="Abrir detalle Hotel"
                        (click)="openHotelModal(element.id)">{{element.name}}</a>                        
                          
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef> Top </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        
                        <a *ngIf="element.idRelevance == 1"
                            type="button">
                          <mat-icon class="icon">star</mat-icon>
                        </a>
                      </mat-cell>
                    </ng-container>
                      <ng-container matColumnDef="category">
                        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.categoryName}} </mat-cell>
                      </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                                  <!-- Paginado - length > 0-->
                    <div *ngIf="1 > 0" class="paginacion-container">
                      <div style="float: left;">
                        Mostrando del  mostrandoInicio  al  mostrandoFin  de  length  entradas
                      </div>
                      <mat-paginator
                        [length]="6"
                        [pageIndex]="0"
                        [pageSize]="5"
                        [hidePageSize]="true"
                        (page)="pageChanged($event)"
                      ></mat-paginator>

                      <!-- <mat-paginator
                        [length]="length"
                        [pageIndex]="currentPage - 1"
                        [pageSize]="pages.value"
                        [hidePageSize]="true"
                        (page)="pageChanged($event)"
                      ></mat-paginator> -->
                    </div>
                  </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  