

<mat-dialog-content>   


    <form [formGroup]="detalleHotelForm">

      <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div *ngIf="(this.hotelDetailDto.shortImageData != undefined)" mat-card-avatar class="example-header-image" style="background-image: url('{{ this.hotelDetailDto.shortImageData.trim() }}');"></div>
              <mat-card-title>{{ this.hotelDetailDto.name }}</mat-card-title>
              <mat-card-subtitle>{{ this.hotelDetailDto.categoryName }}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="(this.hotelDetailDto.largeImageData != undefined)" mat-card-image src="{{ this.hotelDetailDto.largeImageData.trim() }}" alt="Foto del hotel">
            <mat-card-content>
              <p>
                {{ this.hotelDetailDto.description }}
              </p>
            </mat-card-content>
            <br>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="CambiarRelevanciaHotel()">Cambiar relevancia del hotel</button>
            </mat-card-actions>
          </mat-card>        
         <!-- <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Ingresa nombre del rol..." />
        </div>        -->

      </div>
    </form>


</mat-dialog-content>