

<mat-dialog-content>   


    <form [formGroup]="detalleHotelForm">

      <div>

        <mat-card class="example-card" *ngIf="(this.hotelDetailDto != undefined)">
            <mat-card-header>
              <div *ngIf="(this.hotelDetailDto.shortImageData == undefined)" mat-card-avatar class="example-header-image" style="background-image: url('{{ this.imageHotelNotAvaible }}');"></div>
              <div *ngIf="(this.hotelDetailDto.shortImageData != undefined)" mat-card-avatar class="example-header-image" style="background-image: url('{{ this.hotelDetailDto.shortImageData.trim() }}');"></div>
              <mat-card-title>{{ this.hotelDetailDto.name }}</mat-card-title>
              <mat-card-subtitle>{{ this.hotelDetailDto.categoryName }}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="(this.hotelDetailDto.largeImageData == undefined)" mat-card-image src="{{ this.imageHotelNotAvaible }}" alt="Foto del hotel">
            <img *ngIf="(this.hotelDetailDto.largeImageData != undefined)" mat-card-image src="{{ this.hotelDetailDto.largeImageData.trim() }}" alt="Foto del hotel">
            <mat-card-content>
              <p>
                {{ this.hotelDetailDto.description }}
              </p>
            </mat-card-content>
            <br>
            <mat-card-content *ngIf="(this.hotelDetailDto.listaCaracteristicas != undefined )">
              <p *ngFor="let characteristic of this.hotelDetailDto.listaCaracteristicas">
                  <mat-icon>check</mat-icon> {{characteristic.name}}
              </p> 
            </mat-card-content>            
            <br>
            <div style="text-align:center">
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="CambiarRelevanciaHotel()">Cambiar relevancia del hotel</button>
            </mat-card-actions>
          </div>
          </mat-card> 

      </div>
    </form>


</mat-dialog-content>